{{#if currentUser}}
	{{#if this.siteSettings.show_twitch_chat}}
		{{#if currentUser.custom_fields.enable_twitch_chat}}
			<div id="chatbar-wrapper">
				<span id="chatbar-button">Loading Chat</span>
				<div id="chatbar-chat">
					<iframe frameborder="0" 
						scrolling="no" 
						id="chat_embed" 
						src="//www.twitch.tv/itmejp/chat" 
						height="500px" 
						width="325px" >
					</iframe>
				</div>
				<script>
					(function() {
						var showChat 	= "Show itmeChat",
								hideChat 	= "Hide itmeChat",
								cookieName = "chatHidden",
								divChatWrapper = "#chatbar-wrapper",
								divChatBtn = "#chatbar-button",
								divChat = "#chatbar-chat",
								isVis = ":visible",
								animSpeed	= 0
						;
						
						$(divChatBtn).on( "click", function() {
							if ($(divChat).is(isVis)) {
								$.cookie(cookieName, true, { expires: 365 });
								$(divChat).slideUp(animSpeed, function(e) {
									$(divChatBtn).text(showChat);
								});
							} else {
								$.cookie(cookieName, false, { expires: 365 });
								$(divChat).slideDown(animSpeed, function(e) {
									$(divChatBtn).text(hideChat);
								});
							}
						});
						
						if (typeof $.cookie(cookieName) !== 'undefined')
						{
							if ($.cookie(cookieName) == "true")
								$(divChat).slideUp(animSpeed);
							else
								$(divChat).slideDown(animSpeed);
						}	
						
						if ($(divChat).is(isVis))
							$(divChatBtn).text(hideChat);
						else
							$(divChatBtn).text(showChat);
						
					})();
				</script>
			</div>
		{{/if}}
	{{/if}}
{{/if}}