<div id="chatbar-wrapper">
	<div id="chatbar-button">Min/Max</div>
	<div id="chatbar-chat">
		<iframe frameborder="0" 
			scrolling="no" 
			id="chat_embed" 
			src="//www.twitch.tv/itmejp/chat" 
			height="500px" 
			width="325px">
		</iframe>
	</div>
</div>